*{
<<<<<<< HEAD
<<<<<<< HEAD
	padding: 0;
	margin:0;
	box-sizing: border-box;
=======
=======
>>>>>>> 232ef69725da42dff57300d152081732b74dffab
    padding:0;
    margin:0;
}
.cointainer{
    margin:1-00px;
    padding:20px
<<<<<<< HEAD
>>>>>>> 232ef69725da42dff57300d152081732b74dffab
=======
>>>>>>> 232ef69725da42dff57300d152081732b74dffab
}